vm_user     = "donald"
github_user = "duck"
volume_path = "/home/donald"
# vm config below works ok, no lag
volume_size = 4    # GB
memory_size = 2048 # MB
num_cpus    = 2
# run `flyctl auth token` to get your token
fly_api_token = "verylongandsecuretoken"
app_name      = "duckling"
# run `bash region.sh` to get your nearest region
region = "fra"
org    = "personal"
